DATABASE_URL="postgresql://postgres:postgres@postgres:5432/chatdb?schema=public"
gerar chave secreta com node -e "console.log(require('crypto').randomBytes(32).toString('hex'))";
armazenar em ENCRYPTION_KEY="";